<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HT Music Library</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		img {
			width: 100%;
		}
	</style>

</head>
<body>

	<div class="container">
	
		<div class="row">
			<div class="col-md-6 m-auto">
				<h1 class="text-center display-4 my-4">HT Music Library</h1>
				<form action="/upload" method="POST" enctype="multipart/form-data">
					<div class="custom-file mb-3">
						<input type="file" name="file" id="file" class="custom-file-input">
						<label for="file" class="custom-file-label">Choose File</label>
						<input type="text" name="genre" id="genre">
						<label for="genre">Genre</label>
						<input type="text" name="available" id="available">
						<label for="available">Available</label>
						<input type="text" name="length" id="length" >
						<label for="length">Length</label>
						<input type="text" name="bpm" id="bpm" >
						<label for="bpm">BPM</label>
	
					</div>
						<input type="submit" value="Submit" class="btn btn-primary btn-block">
				</form>
				<hr>
				<div id="waveform"></div>
				<a href="" id="downloader" download>
					DOWNLOAD TRACK
				</a>

				<!-- Create action buttons -->
				<input type="button" id="btn-play" value="Play" disabled="disabled"/>
				<input type="button" id="btn-pause" value="Pause" disabled="disabled"/>
				<input type="button" id="btn-stop" value="Stop" disabled="disabled" />


				<% if(files){ %>
					<% files.forEach(function(file) {%>
						<div class="card card-body mb-3">
							<% if(file.isImage) { %>
								<img src="image/<%=file.filename%>" alt="">
							<%} else { %>
							<%= file.filename %>
							<%= file.metadata.genre %>
							<%= file.metadata.available %>
							<%= file.metadata.length %>
							<%= file.metadata.bpm %>
							<% } %>%>

						<form method="POST" action="/files/<%=file._id%>?_method=DELETE">
							<button class="btn btn-danger btn-block mt-4">Delete</button>
						</form>

						<!-- <form method="POST" action="/files/<%=file._id%>?_method=DELETE">
							<button class="btn btn-warning btn-block mt-4">Edit</button>
						</form> -->

						<a href="/files/<%=file.filename%>/edit"><button type="button" class="btn btn-warning"> Edit</button></a>

						



						</div>
					<% })%>
				<% } else { %>
					<p>No files to show</p>
				<% } %>%>
			</div>
		</div>
	</div>

	<!-- main wavesurfer.js lib -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>


		<script>
			// Store the 3 buttons in some object
			 var buttons = {
			     play: document.getElementById("btn-play"),
			     pause: document.getElementById("btn-pause"),
			     stop: document.getElementById("btn-stop")
			 };

			 var downloader = document.getElementById("downloader");

			 // Create an instance of wave surfer with its configuration
			 var Spectrum = WaveSurfer.create({
			     container: '#waveform',
			     waveColor: '#C9DD4B',
			     progressColor: '#61892f',
			     cursorColor: '#999999'
			     // scrollParent: true
			 });

			 // Handle Play button
			 buttons.play.addEventListener("click", function(){
			     Spectrum.play();

			     // Enable/Disable respectively buttons
			     buttons.stop.disabled = false;
			     buttons.pause.disabled = false;
			     buttons.play.disabled = true;
			 }, false);

			 // Handle Pause button
			 buttons.pause.addEventListener("click", function(){
			     Spectrum.pause();

			     // Enable/Disable respectively buttons
			     buttons.pause.disabled = true;
			     buttons.play.disabled = false;
			 }, false);


			 // Handle Stop button
			 buttons.stop.addEventListener("click", function(){
			     Spectrum.stop();

			     // Enable/Disable respectively buttons
			     buttons.pause.disabled = true;
			     buttons.play.disabled = false;
			     buttons.stop.disabled = true;
			 }, false);


			 // Add a listener to enable the play button once it's ready
			 Spectrum.on('ready', function () {
			     buttons.play.disabled = false;
			    
			 });
			 
			 // If you want a responsive mode (so when the user resizes the window)
			 // the spectrum will be still playable
			 window.addEventListener("resize", function(){
			     // Get the current progress according to the cursor position
			     var currentProgress = Spectrum.getCurrentTime() / Spectrum.getDuration();

			     // Reset graph
			     Spectrum.empty();
			     Spectrum.drawBuffer();
			     // Set original position
			     Spectrum.seekTo(currentProgress);

			     // Enable/Disable respectively buttons
			     buttons.pause.disabled = true;
			     buttons.play.disabled = false;
			     buttons.stop.disabled = false;
			 }, false);

			 // Load the audio file from your domain !

			 	var audioFile = 'Advair_gff2a.mp3';
				Spectrum.load(audioFile);

				downloader.setAttribute('href', audioFile);


		</script>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


<!-- $htLightGreen: #C9DD4B; 
$htMediumGreen: #5f7030; 	
$htDarkGreen: #61892f;  
$htLightGrey: #999999; 
$htMediumGrey: #333333;  	 
$htDarkGrey: #1D1D1D;  
$htBlack: rgb(0, 1, 0);
$htBlackOpacity: rgba(0, 1, 0, 0.96);
$htWhite: #F5F5F5;   
$htNewGreen: #6b6e70;
$htNewGreen2: #474b4f; -->
