<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CMS</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.min.css">
</head>
<body >

			<div class="index">
				<div class="row">
					<div class="col-md-9 m-auto">
	
						<form action="/upload" method="POST" enctype="multipart/form-data" >
							<div class="custom-file mb-3" >
	
								<input type="file" name="file" id="file" class="form-control-file" >

								<label for="file" ></label>

								<div class="form-group">
									<input type="text" name="trackname" id="trackname">
									<label for="trackname">Track Name</label>
								</div>

								<div class="form-group">
									<input type="text" name="id" id="id" >
									<label for="id">ID</label>
								</div>

								<label for="genre">Genre</label>

								<select class="custom-select" id="genre" name="genre" multiple="multiple" style="height: 200px">
								         <option value="acoustic">Acoustic</option>
								         <option value="alternative">Alternative</option>
								         <option value="ambient">Ambient</option>
								         <option value="americana">Americana</option>
								         <option value="blues">Blues</option>
								         <option value="bossa">Bossa</option>
								         <option value="brazilian">Brazilian</option>
								         <option value="breakbeat">Breakbeat</option>
								         <option value="childrens">Childrens</option>
								         <option value="chill">Chill</option>
								         <option value="christmas">Christmas</option>
								         <option value="classical">Classical</option>
								         <option value="country">Country</option>
								         <option value="dance">Dance</option>
								         <option value="downtempo">Downtempo</option>
								         <option value="dubstep">Dubstep</option>
								         <option value="disco">Disco</option>
								         <option value="drums">Drums/Percussion</option>
								         <option value="easy listening">Easy Listening</option>
								         <option value="electronic">Electronic</option>
								         <option value="epic">Epic</option>
								         <option value="funk">Funk</option>
								         <option value="hardcore">Hardcore</option>
								         <option value="hard rock">Hard Rock</option>
								         <option value="hip hop">Hip Hop</option>
								         <option value="holiday">Holiday</option>
								         <option value="house">House</option>
								         <option value="indie">Indie</option>
								         <option value="jazz" selected>Jazz</option>
								         <option value="jungle">Jungle</option>
								         <option value="latin">Latin</option>
								         <option value="lounge">Lounge</option>
								         <option value="mnemonic">Mnemonic</option>
								         <option value="new age">New Age</option>
								         <option value="orchestral">Orchestral</option>
								         <option value="pop">Pop</option>
								         <option value="psychedelic">Psychedelic</option>
								         <option value="rap">Rap</option>
								         <option value="reggae">Reggae</option>
								         <option value="retro">Retro</option>
								         <option value="rock">Rock</option>
								         <option value="ska">Ska</option>
								         <option value="techno">Techno</option>
								         <option value="trip hop">Trip Hop</option>
								         <option value="vocal">Vocal</option>
								         <option value="world">World</option>
								       </select>
					
								<div class="form-group">								
									<!-- <input type="text" name="available" id="available"> -->
									<label for="available">Available</label>
									<select name="available" id="available">
										<option value=""></option>
										<option value="yes">yes</option>
										<option value="no">no</option>
									</select>
								</div>

								<div class="form-group">
									<!-- <input type="text" name="length" id="length" > -->
									<label for="length">Length</label>
									<select name="length" id="length">
										<option value=""></option>
										<option value="00:15">00:15</option>
										<option value="00:30">00:30</option>
										<option value="00:60">00:60</option>
										<option value="00:90">00:90</option>
									</select>

								</div>

								<div class="form-group">
									  <label for="description">Description</label>
									  <textarea class="form-control" name="description" id="description" rows="1"></textarea>
								</div>
								<div class="form-group">

									<!-- <input type="text" name="bpm" id="bpm" > -->
									<label for="bpm">Tempo</label>
									<select name="bpm" id="bpm">
										<option value=""></option>
										<option value="slow">slow</option>
										<option value="medium">medium</option>
										<option value="fast">fast</option>
									</select>
								</div>

								<input type="submit" value="Submit" class="btn btn-success btn-block"
								style="width: 100px">
						
							</div>
						</form>


	<div class="table-responsive track-cms">
		<!-- <table class="table  table-bordered table-hover table-sm" data-toggle="table" data-url="nba_data.json" data-search="true" data-pagination="true"> -->
		<!--   <thead class="thead-dark">
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Trackname</th>
		      <th scope="col">Filename</th>
		      <th scope="col">Genre</th>
		      <th scope="col">Available</th>
		      <th scope="col">Length</th>
		      <th scope="col">BPM</th>
		      <th scope="col">Description</th>
		      <th scope="col">Upload Date</th>
		      <th scope="col">Edit</th>
		      <th scope="col">Delete</th>
		    </tr>
		  </thead>
		  <% if(files){ %>
				<% files.forEach(function(file) {%>
						<tbody>
						  <tr>
						    <th scope="row"><%= Number(file.metadata.id) %></th>
								<td><%= file.metadata.trackname %></td>
								<td><%= file.filename %></td>
								<td><%= file.metadata.genre %></td>
								<td><%= file.metadata.available %></td>
								<td><%= file.metadata.length %></td>
								<td><%= file.metadata.bpm %></td>
								<td><%= file.metadata.description %></td>
								<td><%= file.uploadDate.toLocaleDateString() %></td>
								<td><a href="/files/<%=file.filename%>/edit"><i class="fa fa-pencil edit-button"></i> </a></td>
								<td>
									<form method="POST" action="/files/<%=file._id%>?_method=DELETE"> 
									<button class="trash-button"><i class="fa fa-trash"></i></button>
									</form>
								</td>						
						  </tr>    
				<% })%>
		  <% } else {  %>
				<p>No files to show</p>
		  <% } %>
	  </tbody> -->
	  <table class="table  table-bordered table-hover table-sm" data-toggle="table" data-url="http://127.0.0.1:8080/files" data-search="true" data-pagination="true" data-show-columns="true" data-detail-view="true" >


	  	<thead>
	  		<tr>
	  			<th data-field="metadata.trackname" data-sortable="true">Trackname</th>
	  			<th data-field="filename" data-sortable="true">Filename</th>
	  			<th data-field="metadata.genre" data-sortable="true">Genre</th>
	  			<th data-field="metadata.available" data-sortable="true">Available</th>
	  			<th data-field="metadata.length" data-sortable="true">Length</th>
	  			<th data-field="metadata.bpm" data-sortable="true">BPM</th>
	  			<th data-field="metadata.description" data-sortable="true">Description</th>
	  			<th data-field="metadata.id" data-sortable="true">ID</th>
	  			<th data-field="uploadDate" data-sortable="true">Upload Date</th>
	  			
	  		<!-- <% if(files){ %>
				<% files.forEach(function(file) {%>
	  			<td><a href="/files/<%=file.filename%>/edit"><i class="fa fa-pencil edit-button"></i> </a></td>
	  			<td>
	  				<form method="POST" action="/files/<%=file._id%>?_method=DELETE"> 
	  				<button class="trash-button"><i class="fa fa-trash"></i></button>
	  				</form>
	  			</td>	 -->
	  		</tr>
	<!--   				<% })%>
	  		  <% } else {  %>
	  				<p>No files to show</p>
	  		  <% } %> -->
	  	</thead>
	</table>

<script src="js/jQuery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.min.js"></script>

</body>
</html>