<% include partials/header %>
		<div class="row">
			<h1>YO!</h1>
			<% if(files){ %>
				<% files.forEach(function(file) {%>
					<div class="card card-body mb-3">
						<% if(file.isImage) { %>
							<img src="image/<%=file.filename%>" alt="">
						<%} else { %>
						<%= file.filename %>
						<%= file.metadata.genre %>
						<%= file.metadata.available %>
						<%= file.metadata.length %>
						<%= file.metadata.bpm %>
						<% } %>
					</div>
				<% })%>
			<% } else { %>
				<p>No files to show</p>
			<% } %>%>
		</div>



		<li><a href="/search">Back to SEARCH</a></li>

<% include partials/footer  %>