<% include partials/header %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <header>
        <div id="waveform">
          <div id="progress"></div>
        </div>
        

        <div id="image-box">
          <!-- <img id="image-box-pexel" src="images/pexels/structure-light-led-movement-158826.jpg" alt=""> -->
          
          <img src="images/logo.svg"  alt="Hidden Tiger Music Logo" id="logo">
          
          <div id="info-display">

            <div id="title-duration">
              <h2 id="track-title"></h2>
              <div id="time-display-group">
                <p id="time-display-current-time"></p><p id="time-display-duration"></p>
              </div>
            </div>

            <div id="controls">
              <i class="fa fa-play  play-button" id="btn-play" value="Play" disabled="disabled"></i>
              <i class="fa fa-stop " id="btn-stop" value="Stop" disabled="disabled"></i>
              <a href="" id="downloader" download>
                <i class="fa fa-download download-icon"></i>
              </a>

              <div id="volume"> 
                <input type="range" id="volume-slider" min=0 max=1 step=".01">
                <i class="fa fa-volume-up" id="speaker-icon"></i>
              </div> 
        
            </div>

         </div>

       </div>
  </header>

  <div class="container">

 <div id="body">



<div id="selection-boxes">
  <div class="search-card">

    <div id="genres-box">
      <i class="fa fa-chevron-right fa-1x chevron-icon"></i>
      <span class="genres-header">Genres</span>
      </div>
      
    
      <div id="genre-selector">
        <h3 class="selected-list" id="list-genre" style="display: none" value=<% genre %>><%= genre %></h3>
        <!-- <h3 id="selected-genre" style="display: none" value=<% genre %>><%= genre %></h3> -->
        <form  action="/search" method="GET" class="search-form">
          <select class="genre" name="genre" id="genre" onchange="this.form.submit()">
            <option selected disabled>Choose a genre</option>
            <option value="acoustic">acoustic</option>
            <option value="alternative">alternative</option>
            <option value="ambient">ambient</option>
            <option value="americana">americana</option>
            <option value="blues">blues</option>
            <option value="bossa">bossa</option>
            <option value="brazilian">brazilian</option>
            <option value="breakbeat">breakbeat</option>
            <option value="childrens">childrens</option>
            <option value="chill">chill</option>
            <option value="christmas">christmas</option>
            <option value="classical">classical</option>
            <option value="country">country</option>
            <option value="dance">dance</option>
            <option value="downtempo">downtempo</option>
            <option value="dubstep">dubstep</option>
            <option value="disco">disco</option>
            <option value="drums/percussion">drums/percussion</option>
            <option value="easy listening">easy listening</option>
            <option value="eighties">eighties</option>
            <option value="electronic">electronic</option>
            <option value="epic">epic</option>
            <option value="fanfare">fanfare</option>
            <option value="funk">funk</option>
            <option value="halloween">halloween</option>
            <option value="hardcore">hardcore</option>
            <option value="hard rock">hard rock</option>
            <option value="hip hop">hip hop</option>
            <option value="holiday">holiday</option>
            <option value="house">house</option>
            <option value="indie">indie</option>
            <option value="jazz">jazz</option>
            <option value="jungle">jungle</option>
            <option value="latin">latin</option>
            <option value="lounge">lounge</option>
            <option value="march">march</option>
            <option value="mnemonic">mnemonic</option>
            <option value="new age">new age</option>
            <option value="orchestral">orchestral</option>
            <option value="pop">pop</option>
            <option value="psychedelic">psychedelic</option>
            <option value="rap">rap</option>
            <option value="reggae">reggae</option>
            <option value="retro">retro</option>
            <option value="rock">rock</option>
            <option value="ska">ska</option>
            <option value="soul">soul</option>
            <option value="sting">sting</option>
            <option value="surf">surf</option>
            <option value="techno">techno</option>
            <option value="trip hop">trip hop</option>
            <option value="vocal">vocal</option>
            <option value="world">world</option>
            <option value="zydeco">zydeco</option>
        </select>
        </form>
      </div>

  </div> 



  <div class="search-card">

      <div id="genres-box">
        <i class="fa fa-chevron-right fa-1x chevron-icon"></i>
        <span class="genres-header">BPM</span>
      </div>
      
    
      <div id="genre-selector">
        <h3 class="selected-list" id="list-bpm" style="display: none" value=<% bpm %>><%= bpm %></h3>
        <!-- <h3 id="selected-genre" style="display: none" value=<% bpm %>><%= bpm %></h3> -->
        <form  action="/search" method="GET" class="search-form">
          <select class="genre" name="bpm" id="bpm" onchange="this.form.submit()">
            <option selected disabled>Choose a tempo</option>
            <option value="slow">slow</option>
            <option value="medium">medium</option>
            <option value="fast">fast</option>
          
          </select>
        </form>
      </div>
  
    </div>



    <div class="search-card">

        <div id="genres-box">
          <i class="fa fa-chevron-right fa-1x chevron-icon"></i>
          <span class="genres-header">Length</span>
        </div>
        
      
        <div id="genre-selector">
          <h3 class="selected-list" id="list-length" style="display: none" value=<% length %>><%= length %></h3>
          <!-- <h3 id="selected-genre" style="display: none" value=<% length %>><%= length %></h3> -->
          <form  action="/search" method="GET" class="search-form">
            <select class="genre" name="length" id="length" onchange="this.form.submit()">
              <option selected disabled>Choose a Length</option>
              <option value="00:07">00:07</option>
              <option value="00:15">00:15</option>
              <option value="00:20">00:20</option>
              <option value="00:25">00:25</option>
              <option value="00:30">00:30</option>
              <option value="00:40">00:40</option>
              <option value="00:45">00:45</option>
              <option value="00:55">00:55</option>
              <option value="00:60">00:60</option>
              <option value="00:70">00:70</option>
              <option value="00:80">00:80</option>
              <option value="00:90">00:90</option>
              <option value="00:90">01:20</option>
            
            </select>
          </form>
        </div>
    
      </div>

  </div>


  <div id="results-container">
      <ul id="results-header">
        <li>Trackname</li>
        <li>Length</li>
        <li>BPM</li>
        <li>Description</li>
      </ul>
  
      <% if(files){ %>
      <% files.forEach(function(file) {%>
  
        <ul id="results-body">
          <li>
            <button class="btn btn-track-info" id="current-track" 
                    onclick="loadTrack(this.value, this.innerHTML)" 
                    value="<%= file.filename %>">
                    <strong>
                      <%= file.filename.replace('_HiddenTigerMusic.mp3', '') %>
                    </strong>
            </button>
          </li>
          <li><%= file.metadata.length %></li>
          <li><%= file.metadata.bpm %></li>
          <li><%= file.metadata.description %></li>
        </ul>
           
      <% })%>
      <% } else {  %>
      <p>No files to show</p>
      <% } %>
  </div>


  
<!-- </div> -->

</div>    

<footer >
  <a href="/logout" class="logout" >
    <i class="fa fa-sign-out" id="logout-icon"> <span> Logout</span> </i>
  </a>
  <p> &copy; 2018 Hidden Tiger Music Inc.</p>
  <div id="social-icons">
      <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://www.instagram.com" target="_blank"> <i class="fa fa-instagram"></i></a>
  </div>
</footer>


</div>

<script src="scripts/dropdown_display.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
<script src="scripts/wavesurfer.js"></script>


</body>
</html>