<% include partials/header %>

  	<div class="row top-player">	

  		<div class="col-md-4 ">
  			<div class="accordion" id="accordion">
  			  <div class="card search-card">

  			    <div class="card-header" id="headingOne">
   					<h5 class="mb-0">
  			         	 <i class="fa fa-chevron-right fa-1x chevron-icon"></i>
  			       		 <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  			       		 <h3 class="genres-header">Genres</h3>
  			       		 </button>
  			        </h5>
  			     </div><!-- End card-header -->

  			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
  			        <div class="card-body">
  			     		<form action="/result" method="GET" class="search-form">
  	     	      			<!-- <label for="genre">Genre</label> -->
  	     	        		<select class="genre" name="genre" id="genre" onchange="this.form.submit()">
  			     						<option value="acoustic">Acoustic</option>
  			     						<option value="alternative">Alternative</option>
  			     						<option value="ambient">Ambient</option>
  			     						<option value="americana">Americana</option>
  			     						<option value="blues">Blues</option>
  			     						<option value="bossa">Bossa</option>
  			     						<option value="brazilian">Brazilian</option>
  			     						<option value="breakbeat">Breakbeat</option>
  			     						<option value="childrens">Childrens</option>
  			     						<option value="chill">Chill</option>
  			     						<option value="christmas">Christmas</option>
  			     						<option value="classical">Classical</option>
  			     						<option value="country">Country</option>
  			     						<option value="dance">Dance</option>
  			     						<option value="downtempo">Downtempo</option>
  			     						<option value="dubstep">Dubstep</option>
  			     						<option value="disco">Disco</option>
  			     						<option value="drums">Drums/Percussion</option>
  			     						<option value="easy listening">Easy Listening</option>
  			     						<option value="electronic">Electronic</option>
  			     						<option value="epic">Epic</option>
  			     						<option value="funk">Funk</option>
  			     						<option value="hardcore">Hardcore</option>
  			     						<option value="hard rock">Hard Rock</option>
  			     						<option value="hip hop">Hip Hop</option>
  			     						<option value="holiday">Holiday</option>
  			     						<option value="house">House</option>
  			     						<option value="indie">Indie</option>
  			     						<option value="jazz" selected>Jazz</option>
  			     						<option value="jungle">Jungle</option>
  			     						<option value="latin">Latin</option>
  			     						<option value="lounge">Lounge</option>
  			     						<option value="mnemonic">Mnemonic</option>
  			     						<option value="new age">New Age</option>
  			     						<option value="orchestral">Orchestral</option>
  			     						<option value="pop">Pop</option>
  			     						<option value="psychedelic">Psychedelic</option>
  			     						<option value="rap">Rap</option>
  			     						<option value="reggae">Reggae</option>
  			     						<option value="retro">Retro</option>
  			     						<option value="rock">Rock</option>
  			     						<option value="ska">Ska</option>
  			     						<option value="techno">Techno</option>
  			     						<option value="trip hop">Trip Hop</option>
  			     						<option value="vocal">Vocal</option>
  			     						<option value="world">World</option>
  	     					</select>

  	     			<!-- 		<input type="submit" value="submit"  class="btn btn-outline-success
  	     					btn-lg"> -->
  	     		 	 	</form>
  	     	  		 </div><!-- End card-body -->
  	     	    </div><!-- End collapse -->

  			  </div><!-- End card -->

							  <div class="card search-card">

							    <div class="card-header" id="headingOne">
				 					<h5 class="mb-0">
							         	 <i class="fa fa-chevron-right fa-1x chevron-icon"></i>
							       		 <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							       		 <h3 class="genres-header">Length</h3>
							       		 </button>
							        </h5>
							     </div><!-- End card-header -->

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							        <div class="card-body">
							     		<form  action="/result" method="GET" class="search-form">
					     	      			<!-- <label for="genre">Genre</label> -->
					     	        		<select class="genre" name="tempo" id="tempo" onchange="this.form.submit()" >
							     						<option value="30">00:30</option>
							     						<option value="60">00:60</option>
							     						<option value="90">00:90</option>
						
					     					</select>

					     					<!-- <input type="submit" value="submit"  class="btn btn-outline-success
					     					btn-lg"> -->
					     		 	 	</form>
					     	  		 </div><!-- End card-body -->
					     	    </div><!-- End collapse -->

							  </div><!-- End card -->


  			</div><!-- End accordion -->
  		</div><!-- End col-md-4 -->

  			<div class="col-lg-8">

  				<!-- <div class="master-player"> -->
  					<i class="fa fa-play fa-4x play-button" id="btn-play" value="Play" disabled="disabled"></i>
  					<div id="waveform"></div>
  					<h2 id="track-title"></h2>
  				<!-- </div> -->

  				<div class="flex-group">
  					<i class="fa fa-pause fa-4x" id="btn-pause" value="Pause" disabled="disabled"></i>
  					<i class="fa fa-stop fa-4x" id="btn-stop" value="Stop" disabled="disabled"></i>
  					
  					<a href="" id="downloader" download>
  						<i class="fa fa-download fa-4x download-icon"></i>
  					</a>
  				</div><!-- End flex-group -->

  			</div><!-- End col-lg-8 -->

  	</div><!-- End row -->



<div class="track-scroll">


	<div class="table-responsive track-cms list-group track-group">
		<table class="table  table-bordered table-hover table-sm">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Trackname</th>
		      <!-- <th scope="col">Filename</th> -->
		      <th scope="col">Genre</th>
		      <th scope="col">Available</th>
		      <th scope="col">Length</th>
		      <th scope="col">BPM</th>
		      <th scope="col">Description</th>

		    </tr>
		  </thead>
		  <% if(files){ %>
		<% files.forEach(function(file) {%>

				<tbody>
				  <tr>
				    <th scope="row"><%= file.metadata.id %></th>
						<td >
							<button class="btn btn-track-info" id="current-track" onclick="runIt(this.value, this.innerHTML)" value="<%= file.filename %>">
								<strong><%= file.metadata.trackname %></strong></button></td>
						<td><%= file.metadata.genre %></td>
						<td><%= file.metadata.available %></td>
						<td><%= file.metadata.length %></td>
						<td><%= file.metadata.bpm %></td>
						<td><%= file.metadata.description %></td>							
									  </tr>    
					      <% })%>
					    <% } else {  %>
					      <p>No files to show</p>
					    <% } %>


	  </tbody>
	</table>


</div>



<% include partials/footer  %>